{% extends "::base.html.twig" %}
{% block stylesheets %}
{% endblock %}

{% block title %}Competiciones{% endblock %}

{% block body %}
<div style="text-align:center;">
	<h1 style="margin: 100px;">Competiciones disponibles</h1>
	<button style="margin: 10px; width: 70%;" type="button" class="btn btn-info"><a href="http://localhost/practica1symfony_RCarreno_SCifuentes/web/app_dev.php/listTemporadas">Champions</a></button><br>
	<button style="margin: 10px; width: 70%;" type="button" class="btn btn-info" href="http://localhost/practica1symfony_RCarreno_SCifuentes/web/app_dev.php/listTemporadas">Liga</button><br>
	<button style="margin: 10px; width: 70%;" type="button" class="btn btn-info" href="http://localhost/practica1symfony_RCarreno_SCifuentes/web/app_dev.php/listTemporadas">Copa del rey</button>
</div>
{% endblock %}
