{% extends "::base.html.twig" %}

{% block title %}AppBundle:Equip:llistarTotEquip{% endblock %}

{% block body %}
<h1>Buscar partits dun equip</h1>
{{    form_start(form)    }}
<br>
{{    form_widget(form)    }}
<br>
{{    form_end(form)    }}
<br>
<br>
{% endblock %}
