{% extends "::base.html.twig" %}
{% block stylesheets %}
{% endblock %}

{% block title %}Competiciones{% endblock %}

{% block body %}
<div style="text-align:center;">
	<h1 style="margin: 100px;">Competiciones disponibles</h1>

		{% for partit in partits %}
			<button style="margin-bottom: 1%; width: 50%;" type="button" class="btn btn-info"><a style="text-decoration:none;color:white;" href="{{ path('temporadas' ,{'competicio': partit.competicio}) }}">{{partit.competicio}}</a></button><br>
			
		{% else %}

			<div class="alert alert-danger" role="alert">No se han encontrado partidos...</div>

		{% endfor %}
			<button class="btn btn-info""><a style="text-decoration:none;color:white;" href="{{ path('addPartit') }}">Afegir un nou partit</a></button>
</div>
{% endblock %}
